.navbar::before {
  position: absolute;
  content: "";
  background-color: rgba(white, 0.03);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(20px) saturate(100%);
  z-index: -1;
  border-bottom: 1px solid rgba(white, 0.01);
}
.navbar-brand {
  font-family: Pacifico;
  font-weight: 500;
  font-size: 30px;
  color: inherit;
}
svg {
  fill: currentColor;
  width: 100%;
  height: auto;
  max-width: 55px;
}
.navbar-toggler {
  border: none;
}
