<nav class="navbar sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#"> Kris </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon visually-hidden">Toggler</span>
    </button>

    <app-side-nav
      class="offcanvas-end offcanvas"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    ></app-side-nav>
  </div>
</nav>
