<section id="hero">
  <div class="row justify-content-center">
    <div class="align-center text-center justify-content-center">
      <p class="display-1">
        Hi, I'm Kris. I am a
        <br />
        <span class="typed-container">
          <p class="display-1 typed">{{ title }}</p>
        </span>
      </p>
      <p
        class="lead col-lg-9 text-center mx-auto justify-self-center my-2 my-lg-0"
      >
        I am an Angular Frontend developer who turns wireframes into
        Masterpieces... or nightmares, depending on the day.
      </p>
    </div>
    <a
      class="btn btn-dark my-4 mb-5 my-lg-5"
      type="button"
      tabindex="0"
      href="#projects"
    >
      Get in touch
    </a>
    <div class="scrolldown-wrapper">
      <div class="scrolldown">
        <svg height="30" width="10">
          <circle class="scrolldown-p1" cx="5" cy="15" r="2" />
          <circle class="scrolldown-p2" cx="5" cy="15" r="2" />
        </svg>
      </div>
    </div>
  </div>
</section>
<section id="my-skills" class="text-center">
  <h4>Applications and Coding Tools that I use:</h4>
  <div class="box mt-5">
    <div class="row-1">
      <div class="square">
        <img class="skill" src="assets/images/Skills/css-3.png" alt="CSS" /> CSS
      </div>
      <div class="square">
        <img
          class="skill"
          src="assets/images/Skills/typescript.png"
          alt="Typescript"
        />
        Typescript
      </div>
      <div class="square">
        <img
          class="skill"
          src="assets/images/Skills/bootstrap.png"
          alt="bootstrap"
        />Bootstrap
      </div>
      <div class="square">
        <img class="skill" src="assets/images/Skills/java.png" alt="java" />Java
      </div>
    </div>
    <div class="row-2">
      <div class="square">
        <img class="skill" src="assets/images/Skills/html-5.png" alt="html-5" />
        HTML
      </div>
      <div class="square">
        <img class="skill" src="assets/images/Skills/js.png" alt="Javascript" />
        Javascript
      </div>
      <div class="square">
        <img class="skill" src="assets/images/Skills/php.png" alt="Php" />PHP
      </div>
      <div class="square">
        <img
          class="skill"
          src="assets/images/Skills/figma.png"
          alt="Figma"
        />Figma
      </div>
    </div>
  </div>
</section>
<section id="projects">
  <h2 class="visually-hidden">Projects</h2>
  <div class="row" id="weatherly" #weatherly>
    <div
      class="col-lg-3 d-flex flex-column justify-content-center"
      data-aos="fade-right"
      data-aos-delay="0"
      data-aos-offset="180"
      data-aos-duration="2000"
      data-aos-easing="ease-out-quad"
      data-aos-anchor-placement="top-bottom"
    >
      <p class="project-name mb-1">Weatherly</p>
      <p class="project-description">
        Revamping and reimagining a weather app to create an enhanced and
        user-friendly experience.
      </p>
    </div>
    <a
      class="project-card col-lg-8"
      data-aos="zoom-out-up"
      data-aos-offset="180"
      data-aos-duration="2000"
      data-aos-easing="ease-out-quad"
      data-aos-anchor-placement="top-bottom"
      routerLink="/projects"
    >
      <img
        src="assets/images/weatherly-mockup.png"
        alt="Weathery UI Mockup"
        class="project-mockup"
      />
    </a>
  </div>
  <div class="row" id="claytonBooking" #claytonBooking>
    <a
      class="project-card col-lg-8"
      data-aos="fade-right"
      data-aos-delay="0"
      data-aos-offset="180"
      data-aos-duration="2000"
      data-aos-easing="ease-out-quad"
      data-aos-anchor-placement="top-bottom"
      routerLink="/projects"
    >
      <img
        src="assets/images/clayton-mockup.png"
        alt="Clayton Booking UI Mockup"
        class="project-mockup"
      />
    </a>
    <div
      class="col-lg-3 d-flex flex-column justify-content-center"
      data-aos="zoom-out-up"
      data-aos-offset="180"
      data-aos-duration="2000"
      data-aos-easing="ease-out-quad"
      data-aos-anchor-placement="top-bottom"
    >
      <p class="project-name mb-1">Clayton Booking</p>
      <p class="project-description">
        Revamping a barber booking app for a seamless and user-friendly
        scheduling experience.
      </p>
    </div>
  </div>
</section>
<div id="titles">
  <div class="name-h1 is-inview">
    <div class="name-wrap mb-5">
      <h1 class="title">
        Frontend Development<span class="spacer">.</span> Backend Development
      </h1>
    </div>
    <div class="name-wrap mb-5 title1">
      <h1>
        Full Stack Development<span class="spacer">.</span> Full Stack
        Development
      </h1>
    </div>
  </div>
</div>
<section id="contact-me" #contactMe>
  <p class="display-1 mt-5">Let's do something together.</p>
  <p class="lead col-lg-10">
    Are you tired of working alone and having all the credit (and blame) for
    your projects? Look no further - I'm here to share the spotlight (and the
    workload) with you. Let's partner up and take the world by storm.
  </p>
  <button class="btn btn-light my-3 contact-me-btn" type="button" tabindex="0">
    <span>Contact me</span>
    <svg
      width="22"
      height="20"
      viewBox="0 0 22 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.454867 8.066L0.454867 12.46L13.2989 12.46L9.06087 16.698L12.1029 19.714L21.5149 10.276L12.1029 0.837999L9.08687 3.88L13.2989 8.066L0.454867 8.066Z"
        fill="white"
      ></path>
    </svg>
  </button>
</section>
