@import "../../../theme/variables";
section {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  padding-block: 50px;
}
.btn {
  max-width: fit-content;
  padding-inline-end: 2.5rem;
  border: none;
  border-radius: 30px;
  position: relative;
  margin-inline-end: 1rem;
  transition: all 1s ease;
  font-weight: 600;
  font-size: 1.25rem;
}

// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 10px;
//   padding-block: auto;
//   margin-inline: 20px;
//   width: 20px;
//   background-color: rgb(255, 255, 255);
//   z-index: 1;
//   vertical-align: middle;
//   transition: all 0.5s ease;
// }

.btn:hover::after {
  transform: translateX(30px);
  margin-inline-end: 30px;
}
// Hero Section
#hero {
  justify-content: space-between;
  padding-top: 145px;
  line-height: 1.45;

  .display-1 {
    font-family: "Poppins", Sans-serif;
    font-size: 81px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0em 0em 0em 0em;
  }

  .typed-container {
    display: inline-block;
  }

  .typed {
    overflow: hidden;
    border-right: 2px black solid;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 3s;
    animation-timing-function: steps(20, end);
    animation-iteration-count: infinite;
  }

  @keyframes typing {
    30%,
    90% {
      width: 100%;
      filter: none;
    }
    100% {
      filter: blur(8px);
    }
  }

  .btn {
    color: #000000;
    fill: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: 300;
    text-align: center;
  }

  .btn:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  }

  #skills {
    overflow-x: hidden;
    ul {
      display: none;
      min-width: 150%;
      list-style-type: none;
      gap: 40px;
      position: relative;
      padding: 0;
      overflow-x: hidden;
    }
    ul img {
      width: auto;
      height: 100%;
      max-height: 26px;
    }
  }
  .scrolldown-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, -50%);
  }

  .scrolldown {
    border: 2px solid #181b31;
    border-radius: 30px;
    height: 46px;
    margin: 0 auto 8px;
    text-align: center;
    width: 30px;
  }

  .scrolldown-p1,
  .scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #181b31;
  }

  .scrolldown-p2 {
    animation-delay: 0.75s;
  }

  @keyframes scrolldown {
    0% {
      opacity: 0;
      transform: translate(0, -8px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 8px);
    }
  }
}
#my-skills {
  h2 {
    font-weight: 500;
    font-size: 30px;
  }
  .square {
    border: 2px solid rgba(0, 0, 0, 0.05);
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-left: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins";

    img {
      width: auto;
      height: 100%;
      max-width: 35px;
      max-height: 35px;
      margin-right: 0.6rem;
      opacity: 0.85;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .square:first-child {
    border-left: 2px solid rgba(0, 0, 0, 0.05);
  }

  .row-1,
  .row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
  }
  .row-1 {
    .square {
      border-bottom: none;
    }
  }
}
#projects {
  padding-bottom: 0px !important;
  .row {
    transition: all 0.55s ease;
    z-index: 1;
    min-height: 100vh;
  }
  .col-lg-3 {
    max-height: 581px;
  }
  #weatherly-ui-mockup {
    width: 100%;
    height: auto;
    min-width: 300px;
    align-self: center;
    display: flex;
  }
  .display-2 {
    line-height: 1.25;
  }
  .btn {
    font-size: 1rem;
  }
  .project-mockup {
    width: 100%;
    height: auto;
    max-width: 800px;
    position: relative;
    border-radius: 1.5rem;
  }
  .project-mockup::after {
    content: "a";
    position: absolute;
    height: 1000px;
    width: 100px;
    display: block;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 1000;
  }
  .project-description {
    font-weight: 500;
    line-height: 1.4em;
    font-size: 1.8rem;
  }
  .project-name {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
  .project-description {
    max-height: 580px;
  }
  .project-card {
    max-height: 581px;
    padding: 0.75rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1.75rem;
    box-shadow: 0 2rem 5rem -1rem rgba(0, 16, 36, 9%),
      inset 0 1px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
  }
  #weatherly {
    .project-name {
      font-family: Pacifico;
    }
  }
  #claytonBooking {
    .project-card,
    .col-lg-3 {
      max-height: 470px;
    }
  }
}
#titles {
  h1 {
    font-size: 170px;
  }
  .name-wrap {
    min-width: 350%;
  }
  .mb-5 {
    margin-bottom: 4.5rem !important;
  }
  .title1 {
    position: relative;
    left: -2500px;
  }
}
#contact-me {
  p {
    font-family: "Good Sans", Helvetica;
    font-size: 30px;
    line-height: 1.16;
    letter-spacing: -0.01em;
    margin-top: 0px;
  }
  p.lead {
    margin-top: 50px;
  }
  .display-1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.07em;
    margin-top: 90px !important;

    @media (min-width: 1000px) {
      font-size: 90px;
    }
  }
  .contact-me-btn {
    background: black;
    color: white;
    appearance: none;
    border-radius: 50px;
    border: 0px;
    font-family: inherit;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    outline: 0px !important;
    transition: all 0.5s ease;
    margin-top: 50px !important;

    span {
      display: block;
      padding-right: 3rem;
    }
    svg {
      width: 15px;

      @media (min-width: 700px) {
        width: auto;
      }
    }
  }
}
