<section id="hero">
  <div class="row">
    <div class="col-lg-8">
      <div class="row text-cente">
        <p class="display-1 col-lg-10">
          Hi, My name is
          <img
            src="assets/svg/kristopher-fana-pacifico.svg"
            alt="Kristopher Fana"
          />
          <span class="typed-container">
            <p class="display-1 typed">Frontend Developer</p>
          </span>
        </p>
        <p class="lead col-lg-11">
          I am an Angular Frontend developer who turns wireframes into
          Masterpieces... or nightmares, depending on the day.
        </p>
      </div>
      <button class="btn btn-light my-5" type="button" tabindex="0">
        Get in touch
      </button>
    </div>
    <div class="col-lg-4">
      <img src="assets/svg/my-memoji-art.svg" alt="hero-img" />
    </div>
  </div>
</section>
<!-- <section id="project-section">
  <h2>Projects</h2>
  <article class="card">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
  </article>
</section> -->
<!-- <section id="about-me">
  <h2>About Me</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sed iure
    dolore aspernatur architecto in, pariatur praesentium repellendus nihil iste
    nesciunt quae veniam suscipit. Explicabo eveniet quis voluptate consequatur
    ea?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
    reprehenderit numquam. Nemo omnis nihil libero numquam amet? Quisquam,
    placeat consectetur? Fugit ad officiis iusto cum animi ullam in excepturi
    sint?
  </p>
</section> -->

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quibusdam
  veritatis commodi, facilis fugiat maiores, laboriosam tenetur sequi
  voluptatem, consequuntur aliquid nostrum eius recusandae excepturi? Aliquid
  sequi quam nesciunt tempore?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aperiam
  error facere iure ipsa perspiciatis porro nisi, perferendis enim libero esse
  accusamus quae earum omnis obcaecati distinctio, doloribus quibusdam totam.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nobis
  laborum in obcaecati rerum fuga adipisci incidunt, et molestiae sed voluptate
  labore, accusamus dolorem quos reiciendis odio necessitatibus placeat aliquam!
</p>
