ul {
  list-style: none;
  display: flex;
  gap: 65px;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
}
#infinite-scroll-container {
  position: relative;
  overflow-x: hidden;
}
#infinite-scroll-container::before {
  position: absolute;
  content: "";
  z-index: 2;
  height: 100%;
  width: 100%;
}
ul::-webkit-scrollbar {
  display: none;
}

ul::-webkit-scrollbar-track {
  display: none;
}

ul::-webkit-scrollbar-thumb {
  display: none;
}
// ul svg {
//   height: auto;
//   min-width: 100%;
//   max-height: 20px;
//   aspect-ratio: isnitial;
//   fill: rgba($body-color, 0.6);
// }
