<div id="infinite-scroll-container">
  <p class="visually-hidden">My SKills:</p>
  <ul id="infinite-scroll" class="my-5">
    <li>
      <img src="assets/svg/angular.svg" alt="Angular" />
    </li>
    <li><img src="assets/svg/sass.svg" alt="Sass" /></li>
    <li><img src="assets/svg/HTML.svg" alt="HTML" /></li>
    <li><img src="assets/svg/Springboot.svg" alt="Springboot" /></li>
    <li><img src="assets/svg/Bootstrap.sv" alt="Bootstrap" /></li>
    <li><img src="assets/svg/Node.svg" alt="Node" /></li>
    <li><img src="assets/svg/typescript" alt="Typescript" /></li>
  </ul>
</div>
