<div class="container d-flex">
  <section class="contact-me">
    <p class="display-1">Let's Work Together</p>
    <p class="lead">
      Are you tired of working alone and having all the credit (and blame) for
      your projects? Look no further - I'm here to share the spotlight (and the
      workload) with you. Let's partner up and take the world by storm.
    </p>
    <button class="btn btn-light my-3" type="button" tabindex="0">
      Get in touch
    </button>
  </section>
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3"
  >
    <div class="col-md-4 d-flex align-items-center">
      <p>Who is Kristopher Fana?</p>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <p>Hello</p>
      </li>
      <li class="ms-3">
        <p>Hi</p>
      </li>
      <li class="ms-3">
        <p>Hey</p>
      </li>
    </ul>
  </footer>
</div>
